In [1]:
# Import libraries 
import pandas as pd 
import numpy as np

In [2]:
# load data sets
ridership = pd.read_csv('../../Modeling_preprocess_clean/cleaned_data/ridership_w_lag.csv')
weather = pd.read_csv('../../Modeling_preprocess_clean/cleaned_data/weather_data_ny_cleaned.csv')

In [3]:
# display the first few rows of the data set and shape
display(ridership.head())
ridership.shape

,timestamp,station_complex_id,ridership,hour,day_of_week,month,is_weekend,holiday,holiday_name,ridership_lag_1,ridership_lag_3,ridership_lag_7,ridership_lag_24,rolling_mean_6h,rolling_std_6h
0,2022-02-01 00:00:00,1,17.0,0,1,2,0,0,No Holiday,17.0,17.0,17.0,17.0,37.833333,53.461824
1,2022-02-01 01:00:00,1,5.0,1,1,2,0,0,No Holiday,17.0,17.0,17.0,17.0,37.833333,53.461824
2,2022-02-01 02:00:00,1,6.0,2,1,2,0,0,No Holiday,5.0,17.0,17.0,17.0,37.833333,53.461824
3,2022-02-01 03:00:00,1,12.0,3,1,2,0,0,No Holiday,6.0,17.0,17.0,17.0,37.833333,53.461824
4,2022-02-01 04:00:00,1,44.0,4,1,2,0,0,No Holiday,12.0,5.0,17.0,17.0,37.833333,53.461824

(5787552, 15)

In [4]:
# display the first few rows of the data set and shape
display(weather.head())
weather.shape

         DATE                         NAME  TMAX  TMIN  TAVG  PRCP  AWND  SNOW
0  2022-01-01  NY CITY CENTRAL PARK, NY US  56.0  50.0  53.0  0.79  3.13   0.0
1  2022-01-02  NY CITY CENTRAL PARK, NY US  59.0  37.0  48.0  0.04  5.82   0.0
2  2022-01-03  NY CITY CENTRAL PARK, NY US  37.0  22.0  29.5  0.00  9.84   0.0
3  2022-01-04  NY CITY CENTRAL PARK, NY US  34.0  19.0  26.5  0.00  6.04   0.0
4  2022-01-05  NY CITY CENTRAL PARK, NY US  47.0  31.0  39.0  0.23  5.59   0.0

(1020, 8)

In [5]:
# ensure timestamp is in datetime format
ridership['timestamp'] = pd.to_datetime(ridership['timestamp'])
ridership['date'] = ridership['timestamp'].dt.date

In [6]:
# Ensure DATE is in datetime format
weather['DATE'] = pd.to_datetime(weather['DATE'])
weather['date'] = weather['DATE'].dt.date

In [7]:
# Merge the two data sets
merged_df = pd.merge(ridership, weather, how='left', on='date')
merged_df.drop(columns=['DATE'], inplace=True)

In [8]:
# display the first few rows of the data set and shape
display(merged_df.head())

,timestamp,station_complex_id,ridership,hour,day_of_week,month,is_weekend,holiday,holiday_name,ridership_lag_1,...,rolling_mean_6h,rolling_std_6h,date,NAME,TMAX,TMIN,TAVG,PRCP,AWND,SNOW
0,2022-02-01 00:00:00,1,17.0,0,1,2,0,0,No Holiday,17.0,...,37.833333,53.461824,2022-02-01,"NY CITY CENTRAL PARK, NY US",36.0,23.0,29.5,0.0,5.14,0.0
1,2022-02-01 01:00:00,1,5.0,1,1,2,0,0,No Holiday,17.0,...,37.833333,53.461824,2022-02-01,"NY CITY CENTRAL PARK, NY US",36.0,23.0,29.5,0.0,5.14,0.0
2,2022-02-01 02:00:00,1,6.0,2,1,2,0,0,No Holiday,5.0,...,37.833333,53.461824,2022-02-01,"NY CITY CENTRAL PARK, NY US",36.0,23.0,29.5,0.0,5.14,0.0
3,2022-02-01 03:00:00,1,12.0,3,1,2,0,0,No Holiday,6.0,...,37.833333,53.461824,2022-02-01,"NY CITY CENTRAL PARK, NY US",36.0,23.0,29.5,0.0,5.14,0.0
4,2022-02-01 04:00:00,1,44.0,4,1,2,0,0,No Holiday,12.0,...,37.833333,53.461824,2022-02-01,"NY CITY CENTRAL PARK, NY US",36.0,23.0,29.5,0.0,5.14,0.0

In [9]:
# Verify the columns in the merged data set and shape
display(merged_df.columns)
merged_df.shape

Index(['timestamp', 'station_complex_id', 'ridership', 'hour', 'day_of_week',
       'month', 'is_weekend', 'holiday', 'holiday_name', 'ridership_lag_1',
       'ridership_lag_3', 'ridership_lag_7', 'ridership_lag_24',
       'rolling_mean_6h', 'rolling_std_6h', 'date', 'NAME', 'TMAX', 'TMIN',
       'TAVG', 'PRCP', 'AWND', 'SNOW'],
      dtype='object')

(5787552, 23)

In [10]:
# Count all missing values in the dataset
merged_df.isnull().sum()

timestamp             0
station_complex_id    0
ridership             0
hour                  0
day_of_week           0
month                 0
is_weekend            0
holiday               0
holiday_name          0
ridership_lag_1       0
ridership_lag_3       0
ridership_lag_7       0
ridership_lag_24      0
rolling_mean_6h       0
rolling_std_6h        0
date                  0
NAME                  0
TMAX                  0
TMIN                  0
TAVG                  0
PRCP                  0
AWND                  0
SNOW                  0
dtype: int64

In [11]:
# Export the merged data set 
merged_df.to_csv('../../Modeling_preprocess_clean/cleaned_data/ridership_weather.csv', index=False)